createdAt: "2019-05-23T07:14:51.432Z"
updatedAt: "2019-05-23T07:16:52.379Z"
type: "MARKDOWN_NOTE"
folder: "4743e77011aad88d7467"
title: "Text Summarization"
tags: [
  "seq2seq"
  "attention"
  "pointer"
]
content: '''
  ## Text Summarization
  
  * Seq2seq
  * Attention
  * Pointer n/w
  * Reinforcement L
  
  -Links-
  [Text summarizer using deep learning made easy – Hacker Noon](https://hackernoon.com/text-summarizer-using-deep-learning-made-easy-490880df6cd)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
