createdAt: "2019-05-29T07:43:08.905Z"
updatedAt: "2019-05-31T07:23:07.383Z"
type: "MARKDOWN_NOTE"
folder: "50608e0ab65b5bb342e2"
title: "TF-Ranking"
tags: []
content: '''
  # TF-Ranking
  29-May
  
  [GitHub - tensorflow/ranking: Learning to Rank in TensorFlow](https://github.com/tensorflow/ranking)
  
  [gitlab]:[Sign in · GitLab](https://gitlab.dev.spotdraft.com/sd/text_models/tree/document_to_context_mapping_script/)
  [Branch]:document_to_context_mapping_script
  
  - need text in Libsvm format
  [[Convert text format to libsvm format · GitHub](https://gist.github.com/fannix/4092350)]
  
  - segment paragraghs
  [/text_models/segmentation/tree_segmenter.py]
  
  - doc2vec embedding : using genism
  [[gensim: models.doc2vec – Doc2vec paragraph embeddings](https://radimrehurek.com/gensim/models/doc2vec.html#gensim.models.doc2vec.Doc2VecVocab)]
'''
linesHighlighted: []
isStarred: false
isTrashed: false
