createdAt: "2019-06-13T05:50:59.119Z"
updatedAt: "2019-06-13T05:52:01.462Z"
type: "MARKDOWN_NOTE"
folder: "4743e77011aad88d7467"
title: "CBOW"
tags: []
content: '''
  ## CBOW
  [Implementing Deep Learning Methods and Feature Engineering for Text Data: The Continuous Bag of Words (CBOW)](https://www.kdnuggets.com/2018/04/implementing-deep-learning-methods-feature-engineering-text-data-cbow.html)
  
  [Thushv » Word2Vec (Part 2): NLP With Deep Learning with Tensorflow (CBOW)](http://www.thushv.com/natural_language_processing/word2vec-part-2-nlp-with-deep-learning-with-tensorflow-cbow/)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
